/* PHASE 12: Modal */
.modal {
  display: flex;
  justify-content: center;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
  position: absolute;
  z-index: 3;
  background: white;
  margin: 0 auto;
  top: 20%;
  padding: 10px;
  width: 360px;
}

.modal-form h1 {
  font-size: 36px;
}